#hero img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.titulo{
    width: 100%;
    height: 600px;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

h1{
    font-weight: bold;
    z-index: 100;
    color: white;
}

.texto-general{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.texto-general p{
    padding-left: 7rem;
    padding-right: 7rem;
}

.planes {
    width: 980px;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.planes li {
    width: 30%;
    text-align: center;
    vertical-align: top;
    margin: 0 1.5%;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    flex-grow: 1;
    height: 525px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.planes li:hover{
    border: 2px solid rgb(197, 173, 20);
}

.planes li h3,
.planes li p,
.planes li button {
    margin: 0;
    padding: 5px;
}

.te-ofrecemos{
    padding: 50px;
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.te-ofrecemos li{
    width: 16%;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
}

.precios{
    padding: 50px;
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.precios li{
    width: 20%;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(254, 222, 4);
    border: 2px solid black;
    border-radius: 10px;
    padding: 2rem;
    margin: 1.5rem;
}

.precios li:hover{
    background-color: rgb(197, 173, 20);
}

@media(max-width:1024px){
    .texto-general p{
        padding-left: 5rem;
        padding-right: 5rem;
    }
    
    h1{
        font-size: 5em;
        font-family: 'Times New Roman', Times, serif;
    }

    #hero img{
        height: 500px;
    }

    .titulo{
        height: 500px;
    }

    .planes{
        width: 100%;
    }

    .planes li{
        padding: 20px 15px;
    }

    .planes li h3,
    .planes li p,
    .planes li button {
        margin: 0;
        padding: 5px;
    }

    .te-ofrecemos{
        flex-wrap: wrap;
    }

    .te-ofrecemos li{
        width: 30%;
    }

    .precios li{
        width: 30%;
    }
}

@media(max-width:750px){
    .texto-general p{
        padding-left: 4rem;
        padding-right: 4rem;
    }
    
    h1{
        font-size: 4em;
    }

    #hero img{
        height: 400px;
    }

    .titulo{
        height: 400px;
    }

    .planes{
        flex-wrap: wrap;
    }

    .planes li{
        width: 60%;
        margin: 25px;
        height: 100%;
    }

    .planes li h3,
    .planes li p,
    .planes li button {
        padding: 15px;
    }

    .te-ofrecemos li p{
        font-size: 1rem;
    }

    .precios li{
        width: 50%;
        margin: 0.5rem;
    }

    .precios li h3{
        font-size: 1.75rem;
    }

    .precios li p{
        font-size: 1rem;
    }
}

@media(max-width:425px){
    .texto-general p{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
    h1{
        font-size: 3em;
    }

    #hero img{
        height: 300px;
    }

    .titulo{
        height: 300px;
    }

    .planes li h3{
        font-size: 1.75rem;
    }
    .planes li p{
        font-size: 1rem;
    }
    .planes li button {
        font-size: 1.25em;
    }

    .te-ofrecemos li{
        width: 40%;
    }

    .te-ofrecemos li img{
        size: 2rem;
    }

    .te-ofrecemos li p{
        font-size: 0.75rem;
    }

    .precios{
        flex-wrap: wrap;
    }

    .precios li{
        width: 75%;
    }
}