*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/*##ETIQUETAS GENERALES##*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    /* min-height: 100vh; */
    box-sizing: border-box;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.7em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.25em;
}

section {
    /* padding: 3.9rem 0; */
    overflow: hidden;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
}

/*##QUIENES SOMOS##*/

.quienes_cont {
    width: 100%;
    /* max-width: 122.5rem; */
    margin: 0 auto;
    padding: 0 2.4rem;
}

.quienes-cont p {
    text-align: center;
    width: 100%;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-bottom: 0.3rem;
    padding-top: 0.4rem;
}

.quienes-cont h2 {
    text-align: center;
    width: 100%;
}

video {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
}

.vid {
    width: 100%;
}

#hero img{
    width: 100%;
    height: 750px;
    object-fit: cover;
}

/* HEADER */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.navigation{
    font-family: 'Kanit', sans-serif;
}
.navigation ul {
    list-style: none;

}

.header .navigation ul li{
    float: left;
    position: relative;
}

.header .navigation ul li a {
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 20px;
    display: block;
    transition: all .2s ease;
}

.header .navigation ul li a:hover{
    /* background-color: rgb(254, 222, 4); */
    color: rgb(254, 222, 4);
}

.header .navigation ul li ul {
    position: absolute;
    right: 0;
    width: 200px;
    background-color: rgb(0, 0, 0);
    display: none;
}

.header .navigation ul li ul li a{
    font-size: 15px;
}

.header .navigation ul li ul li {
    width: 100%;
}

.header .navigation ul li:hover > ul {
    display: initial;
}

#toggle,
.header label{
    display: none;
    cursor: pointer;
}

.menu {
    width: 45px;
    height: 35px;
}

.logo{
    width: 200px;
    padding: 5px;
}

@media(max-width:720px) {
    .header label {
        display: initial;
    }

    .header {
        padding: 20px 10%;
    }

    .header .navigation {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgb(0, 0, 0);
        display: none;
    }

    .header .navigation ul li {
        width: 100%;
    }

    .header .navigation ul li a {
        padding: 8px 30px 8px 10%;
        }

    .header .navigation ul li ul{
        position: relative;
        width: 100%;
        left: 0;
    }
    #toggle:checked~.navigation {
        display: block;
    }
    /* .logo{
        width: 150px;
        padding: 5px;
    } */
}

@media(max-width:950px) {
    .header label {
        display: initial;
    }

    .header {
        padding: 20px 10%;
    }

    .header .navigation {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgb(0, 0, 0);
        display: none;
    }

    .header .navigation ul li {
        width: 80%;
    }
    .header .navigation ul li a {
        padding: 8px 30px 8px 10%;
        }

    .header .navigation ul li ul{
        position: relative;
        width: 100%;
        left: 0;
    }
    #toggle:checked~.navigation {
        display: block;
    }
    body{
        padding-top: 8.8rem;
    }
}

/* SLIDER PARA USAR A FUTURO

.slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    padding: 0;
    display: flex;
    width: 200%;
    animation: slider 35s infinite alternate;
    animation-timing-function: linear;
}

.slider ul li {
    width: 100%;
    list-style: none;
}

.slider ul li img {
    width: 100%;
    object-fit: cover;
}

@media(max-width: 720px) {
    .slider ul {
        padding: 0;
        display: flex;
        width: 300%;
        animation: slider 35s infinite alternate;
        animation-timing-function: linear;
    }
}

@media(max-width: 950px) {
    
}

@keyframes slider {
    0% {
        margin-left: 0;
    }


    25% {
        margin-left: -100%;
    }


    50% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

} */

/* FORMULARIO */

#contacto h3{
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    font-weight: 600;
    line-height: .4;
}

#contacto{
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

.formulario{
    padding: 5rem;
    width: 100%;
}

.input-formulario label{
    display: block;
    font-size: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 1.5rem;
    padding-top: 1rem;
}

.input-formulario textarea{
    width: 100%;
    padding: 1rem 1.6rem;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    outline: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.input-formulario input{
    width: 80%;
    height: 4rem;
    border-radius: 5px;
    outline: none;
    padding: 1rem 1.6rem;
    border: 1px solid #e1e1e1;
}

.input-formulario textarea{
    height: 10rem;
    resize: none;
}

.btn-especial:hover{
    background-color: rgb(197, 173, 20);
}

.btn-especial{
    background-color: rgb(254, 222, 4);
    font-size: 1em;
    font-weight: bold;
    padding: 16px 40px;
    border-radius: 10px;
    display: inline-block;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
}

.formulario input[type="email"]{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline-block;
    margin-bottom: 1rem;
    margin-right: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    outline: none;
}

.formulario input[type="submit"]{
    padding: .25rem 1rem;
    font-size: 1rem;
    border-radius: 0;
}

@media(max-width: 720px)
{
    .input-formulario input{
        width: 100%;
        height: 5rem;
        border-radius: 5px;
        outline: none;
        padding: 1rem 1.6rem;
        border: 1px solid #e1e1e1;
    }
}

/* FOOTER */

.pie-pagina {
    font-family: 'Kanit', sans-serif;
    padding: 30px;
    background-color: rgb(17, 17, 17);
    text-align: left;
}

.infoFooter p {
    text-align: left;
}

.infoFooter ul li {
    list-style: none;
    color: white;
}

.infoFooter ul li a {
    text-decoration: none;
    color: white;
}

.infoFooter p {
    font-size: 16px;
}

.infoFooter input {
    height: 35px;
}

.logoFooter {
    width: 200px;
    padding-left: 5px;
}

.contenedor-piepagina {
    color: white;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.contenedorRedes {
    display: flex;
    flex-direction: column;
    /* justify-content:end;
    align-items:end; */
    padding-left: 130px;
}

.redes {
    font-size: 2rem;
}

.redes a {
    color: rgb(254, 222, 4);
}

.footer {
    text-align: left;
    background-color: rgba(17, 17, 17);
    color: black;
    padding: 2rem;
    font-size: 2rem;
}

.linea-color {
    border: none;
    background-image: linear-gradient(to right, rgb(254, 222, 4) 50%, rgb(110, 110, 110) 50%);
    height: 2px;
}

.copy {
    padding-top: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    color: white;
    font-size: 14px;
    text-align: center;
}

.btn-footer {
    background-color: rgb(254, 222, 4);
    border: none;
    margin: 0;
    padding: 0;
    width: 100px;

}

@media screen and (max-width: 768px) {
    .infoFooter p {
        text-align: center;
    }

    .infoFooter {
        padding-top: 20px;
    }


    .linea-color {
        /* padding-left: 500px; */
        text-align: center;
    }

    .contenedor-piepagina {
        display: grid;
        width: 100%;
        text-align: center;
        grid-template-columns: 1fr;
        align-items: center;
    }

    .contenedorRedes {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0px;
    }
}

/* @MEDIAS INDEX*/

@media(max-width:720px) {
    video {
        padding-top: 5rem;
        width: 100%;
    }

    .quienes-cont {
        width: 100%;
        padding: 0 1rem;
        margin-top: 2rem;
    }

    .quienes-cont p {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    body{
        padding-top: 8.8rem;
    }
    #hero img{
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
}

@media(max-width:950px) {
    video {
        padding-top: 5rem;
        width: 100%;
        align-items: center;
    }

    #hero img{
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
}