*{
    box-sizing: border-box;
}






#header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

#footer{

  z-index: 999;
}






.contenedor{
    width: 90%;
    max-width: 1920px;

    margin-left: auto;
    margin-right: auto;

} 



main {
    display: grid;
    padding-top: 40px;
    top: 200px;
    margin-top: 140px;
    /* margin-left: 350px; */
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    /* background: blueviolet; */

}
.detalle{
    font-size: 12px;
}

  .card-sillones{

    border: 1px solid rgb(243, 243, 243);
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  .card-escritorios{

    border: 1px solid rgb(243, 243, 243);
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  .card-mesas{

    border: 1px solid rgb(243, 243, 243);
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  .card-tecnologia{

    border: 1px solid rgb(243, 243, 243);
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }


  .card-sillones img , .card-escritorios img, .card-mesas img, .card-tecnologia img{
    /* width: 100%; */
    width: 100%;
    height: 300px;
    object-fit: cover;

  }
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

  }


  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }



  .catalogo-menu {

    width: 100%;
    display: grid;
    margin: 90px auto 20px;
    background:rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center; 
    text-align: center;



  }
  .catalogo-menu ul {
    
    width: 30%;
    list-style: none;
    padding: 0;
    margin: 20;
    display: flex;
    justify-content: space-between;
    margin-left: 30%;
}


.menu li {
  padding: 0 10px;
  float: left;
  flex-grow: 1;
  margin-right: 10px;
}

.menulink {
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
}
.catalogo-menu li:last-child {
  margin-right: 0;
}



button{
  border-radius: 30px;
  margin-left: 20px;
  border: none;
  height: 30px;
  width: 100px;
  text-align: center;
  font-size: 14px;
  background: rgb(187, 186, 186);


}
.catalogo-menu li button:hover {
  background-color: #666;
}

  .active-tab {
    color: beige;
    background: rgb(214, 200, 7);
    
  }
  .listas {
    background: rgb(214, 200, 7);
  }


  .texto{
    color: aliceblue;
  }

  /* .menulink {
    cursor:pointer;
    display: block;
    padding: 15px 15px 15px 45px;
    font-size: 18px;
    border-bottom: 1px solid #555454;
    position: relative;

  } */


/*  notebook */
@media screen and (max-width: 1400px) {
  
  aside {
    position: static;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  main {
    width: 100%;
    margin-left: 0;
    grid-template-columns: repeat(4, 1fr);
  }
  .catalogo-menu ul {

    margin-left: 22%;
    }
}


/*  tablet */
@media screen and (max-width: 1024px) {
  
  aside {
    position: static;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  main {
    width: 100%;
    margin-left: 0;
    grid-template-columns: repeat(2, 1fr);
  }
  .catalogo-menu ul {

    margin-left: 0px;
    margin-left: 3%;
    }
}

/*  móvil */
@media screen and (max-width: 768px) {
  
  header {
    position: static;
  }

  aside {
    display: none;
  }

  main {
    width: 100%;
    margin-top: 5px;
    grid-template-columns: repeat(1, 1fr);
  }
  button{
    margin-left: 0px;
    height: 30px;
    width: 70px;
    font-size: 12px;
  }
  .catalogo-menu ul {

    width: 5%;

    margin-left: 10%;
    }
    .menu li {
      padding: 0 2px;
      float: left;
      flex-grow: 1;
      margin-right: 5px;
    }
}