*{
    box-sizing: border-box;
}



body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  box-sizing: border-box;
}


/*HEADER*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.navigation{
  font-family: 'Kanit', sans-serif;
}
.navigation ul {
  list-style: none;

}

.header .navigation ul li{
  float: left;
  position: relative;
}

.header .navigation ul li a {
  font-size: 18px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 20px;
  display: block;
  transition: all .2s ease;
}

.header .navigation ul li a:hover{
  /* background-color: rgb(254, 222, 4); */
  color: rgb(254, 222, 4);
}

.header .navigation ul li ul {
  position: absolute;
  right: 0;
  width: 200px;
  background-color: rgb(0, 0, 0);
  display: none;
}

.header .navigation ul li ul li a{
  font-size: 15px;    
}

.header .navigation ul li ul li {
  width: 100%;
}

.header .navigation ul li:hover > ul {
  display: initial;
}

#toggle,
.header label{
  display: none;
  cursor: pointer;
}

.menu {
  width: 45px;
  height: 35px;
}

.logo{
  width: 200px;
  padding: 5px;
}


/*imagen Rentals*/
#hero img{
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.titulo{
  width: 100%;
  height: 600px;
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 6em;
  font-weight: bold;
  z-index: 100;
  color: white;
}





/*Footer*/

.pie-pagina{
  font-family: 'Kanit', sans-serif;
  padding: 30px;
  background-color: rgb(17, 17, 17); 
  text-align: left;

}
.infoFooter p{
  text-align: left;
}
.infoFooter ul li {
  list-style: none;
  color: white;
}

.infoFooter ul li a {
  text-decoration: none;
  color: white;
  
}
.infoFooter p {
font-size: 16px;
}
.infoFooter input{
  height: 35px;

}

.logoFooter{

  width: 200px;
  padding-left: 5px;

}
.contenedor-piepagina{
  color: white;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.contenedorRedes{
  display: flex;
  flex-direction: column;

  padding-left: 130px;
  
  
}
.redes{

  font-size: 2rem;
  
}
.redes a{
  color:rgb(254, 222, 4);
}
.footer{
  text-align: left;
  background-color: rgba(17, 17, 17);
  color: black;
  padding: 2rem;
  font-size: 2rem;
} 

.linea-color {
  border: none;
background-image: linear-gradient(to right, rgb(254, 222, 4) 50%, rgb(110, 110, 110) 50%); 
height: 2px; 
width: 200px; 

}
.copy{
  padding-top: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style:normal;
  color: white;
  font-size: 14px;
  text-align: center;
}
.btn-footer{
  background-color: rgb(254, 222, 4);
  border: none;
  margin: 0;
  padding: 0;
  width: 100px;

}












.contenedor{
    width: 90%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;

} 



main {
    display: grid;
    /* padding-top: 10px; */
    /* top: 200px; */
    margin-top: 40px;
    /* margin-left: 350px; */
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    /* background: blueviolet; */

}
.detalle{
  padding: 15px;
    font-size: 14px;
    text-align: center;
    font-family: 'Kanit', sans-serif;
}

  .card-sillones{

    border: 1px solid rgb(243, 243, 243);
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  .card-escritorios{

    border: 1px solid rgb(243, 243, 243);
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  .card-mesas{

    border: 1px solid rgb(243, 243, 243);
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  .card-tecnologia{

    border: 1px solid rgb(243, 243, 243);
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }


  .card-sillones img , .card-escritorios img, .card-mesas img, .card-tecnologia img{
    /* width: 100%; */
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }


  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }



  #catalogo-menu {

    width: 100%;
    display: grid;
    /* margin: 90px auto 20px; */
    background:rgb(124, 124, 124);
    /* position: fixed;
    top: 300px; */

    align-items: center; 
    text-align: center;
  }

  #catalogo-menu.fixed {
    position: fixed;
    top: 100px; 
  }



  #catalogo-menu ul {
    
    width: 30%;
    list-style: none;
    padding: 0;
    margin: 20;
    display: flex;
    justify-content: space-between;
    margin-left: 30%;
  }


.menu li {
  padding: 0 10px;
  float: left;
  flex-grow: 1;
  margin-right: 10px;
}

#catalogo-menu li:last-child {
  margin-right: 0;
}


/*boton*/
.menulink{
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border-radius: 30px;
  margin-left: 20px;
  border: none;
  height: 30px;
  width: 100px;
  text-align: center;
  font-size: 14px;
  background: rgb(187, 186, 186);


}
#catalogo-menu li button:hover {
  background-color: #666;
}

  .active-tab {
    color: beige;
    background: rgb(214, 200, 7);
    
  }
  .listas {
    background: rgb(214, 200, 7);
  }


  .texto{
    color: aliceblue;
  }


/*  notebook */
@media screen and (max-width: 1400px) {
  
  aside {
    position: static;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  main {
    width: 100%;
    margin-left: 0;
    grid-template-columns: repeat(4, 1fr);
  }
  #catalogo-menu ul {

    margin-left: 22%;
    }
}

/*  tablet */
@media screen and (max-width: 1024px) {
  
  aside {
    position: static;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  main {
    width: 100%;
    margin-left: 0;
    grid-template-columns: repeat(2, 1fr);
  }
  #catalogo-menu ul {

    margin-left: 0px;
    margin-left: 3%;
    }
}

/*  móvil */
@media screen and (max-width: 768px) {
  
  header {
    position: static;
  }

  aside {
    display: none;
  }

  main {
    width: 100%;
    margin-top: 5px;
    grid-template-columns: repeat(1, 1fr);
  }
  .menulink{
    margin-left: 0px;
    height: 30px;
    width: 70px;
    font-size: 12px;
  }
  #catalogo-menu ul {

    width: 5%;

    margin-left: 10%;
    }
    .menu li {
      padding: 0 2px;
      float: left;
      flex-grow: 1;
      margin-right: 5px;
    }
}